<body>
  <div class="background-gradient"></div>
  <div class="nav">
    Navbar
    <ul>
      <li><button mat-button>Platform</button></li>
      <li><button mat-button>Pricing</button></li>
      <li><button mat-button>Content Hub</button></li>
      <li><button mat-button>Free tools</button></li>
      <li><button mat-button>Sign in</button></li>
    </ul>
    <div class="navbar-buttons">
      <button mat-button>Get Started ></button>
      <button mat-button>View Demo ></button>
    </div>
  </div>
  <h1 class="header">Start turning time into sales</h1>
  <p>Join thousands of happy teams, boost your revenue and save <br> more time for what really matters.</p>
  <plans></plans>


<router-outlet></router-outlet>


</body>
 